JOB_NAME="generic_source_to_target"
SRC_HOST="100.100.100.10"
SRC_USER="root"
SRC_SSH_PORT="2222"
SRC_SSH_KEY="/root/.ssh/migrate_generic_source_to_target"
DEST_BASE="/mnt/user/MigrationShare/migration"

SRC_PATH_APPDATA="/mnt/user/appdata/"
SRC_PATH_DOMAINS="/mnt/user/domains/"
SRC_PATH_BOOT_CONFIG="/boot/config/"

RSYNC_BWLIMIT="20m"
NICE_LEVEL="15"
IONICE_CLASS="2"
IONICE_LEVEL="7"
SKIP_DONE_STAGES="yes"

ENABLE_STAGE_INVENTORY="yes"
ENABLE_STAGE_APPDATA="yes"
ENABLE_STAGE_DOMAINS="yes"
ENABLE_STAGE_BOOT_CONFIG="yes"
